@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  /* background: linear-gradient(-35deg, #C33764 0%, #1D2671); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0)) , url(./assets/background.png);
  background-size: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}